html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: 1px solid transparent;
  overflow: hidden;
}

#login-area {
  height: 300px;
  width: 500px;
  border: 1px solid #000000;
  margin: 0 auto;
  margin-top: 150px;
}

#login-area #login-text {
  width: 100%;
  margin-top: 70px;
  text-align: center;
}

#login-area #login-form-area {
  width: 100%;
  margin-top: 40px;
  text-align: center;
}

#login-area #login-form-area #login-form #username {
  height: 50px;
  width: 300px;
  text-align: center;
  font-size: 30px;
  outline: none;
  outline-offset: 0px;
}

#login-area #login-form-area #login-form #login-submit {
  font-size: 30px;
  background-color: transparent;
  border: 1px border #000000;
  height: 55px;
  width: 125px;
  text-align: center;
  cursor: pointer;
  outline: none;
  outline-offset: 0px;
}

#login-area #login-form-area #login-form #login-submit:hover {
  color: #fff;
  background-color: red;
}

#chat-window {
  display: none;
  height: 100%;
  width: 100%;
  border-top: 1px solid transparent;
  background-color: lightgray;
}

#chat-window #users-area {
  height: 100%;
  width: 20%;
  border-right: 1px solid #000000;
  background-color: blue;
}

#chat-window #users-area #online-users {
  margin: 0px;
  padding: 0px;
  border-top: 1px solid transparent;
  text-align: center;
}

#chat-window #users-area #online-users h1 {
  margin: 0px;
  padding: 0px;
}

#chat-window #users-area #online-users #current-users-online {
  margin: 0px;
  padding: 0px;
}


